<p style="color: green"><%= notice %></p>

<%= render @store_item %>

<div>
  <%= link_to "Edit this store item", edit_store_item_path(@store_item) %> |
  <%= link_to "Back to store items", store_items_path %>

  <%= button_to "Destroy this store item", @store_item, method: :delete %>
</div>
